.row{
    width: 95%;
    margin: 0 auto;
}
.row__posters{
    display: flex;
    width: 100%;

    /* overflow-x:scroll; */
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 20px;

} 



.row__posters::-webkit-scrollbar{
    display: none;
}

.row__poster:hover {
    transform: scale(1.08);
    backface-visibility: hidden;
    /* border-radius: 10px; */
}
.row__poster{
    border-radius: 5px;
    width: 100%;
    object-fit: contain;
    /* display: flex; */
    max-height: 100px;

    transition: transform 400ms;
    margin: 0 10px;
    backface-visibility: hidden;
}


.row__posterLarge{max-height: 250px;}
.row__posterLarge:hover{transform: scale(1.09);}
